.todo-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    height: 100vh;
    background-color: #fff;
}
.todo {
    width: 90%;
    text-align: center;
}
.todo > h2 {
    font-size: 36px;
    line-height: 1;
    font-weight: 600;
    margin: 27px 0;
}
.form-row input{
    background-color: var(--input-background-color);
    width:80%;
    border:0;
    padding: 15px ;
    border-radius: 4px;
    font-family: 'Poppins';

}
.todo-btn{
    width: 20%;
    padding: 15px 0;
}
.todo-btn:hover {
    background-color: black !important;
    color: #fff;
}
.form-row input:focus {
    outline: 0;
}
.todo-item{
    background-color: black;
    color:#FFFFFF;
    display: flex;
    align-items: center !important;
    justify-content: space-between;
    height: auto;
    padding-left: 10px;
    padding-right: 0 !important;
    font-weight: 300;
    border-radius: 4px;
    margin: 16px 0;
    height: 50px;
  }
  input[type=checkbox] {   
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
  .done-todo {
    background-color: #ededed;
  }
  .done-label:hover {
    background-color: #a6e1bd;
  }
  .done-label{
    width: 35px;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
    padding:0 10px ;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
  }
  .done-label >img {
    width: 120%;
    height: 50px;
  }
  .delete-btn :hover {
    background-color: rgb(255, 123, 123);
    border-radius: 2px;
  }
 .delete-btn {
    border: 0;
    background-color: transparent;
    height: 50px;
    border-radius: 2px !important;
    transition: background-color 0.2s ease-in;
    cursor: pointer;
}
.delete-btn > img {
    width: 35px;
    height: 50px;
    padding: 0 10px;
}
.Todo-controller {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media only screen and (min-width: 426px) {
  
.form-row input{
    font-size: 18px;
    padding: 20px ;
}
.todo-btn{
  width: 20%;
  padding: 16px 0;
  font-size: 22px;
}
.todo-item{
  padding: 10px 15px;
  font-size: 18px;
  height: 54px;
}
.delete-btn {
  
  height: 54px !important;
}
.delete-btn >img {
  width: 40px;
  height: 54px !important;
}
.done-label {
  height: 54px;
  
}
.form-row {
  margin-bottom: 40px;
}
}
@media only screen and (min-width: 1024px){
.todo > h2 {
    font-size: 42px;
    margin-top: 35px 0 27px;
}
.todo {
  width: 500px;
}
.form-row {
  margin-bottom: 45px;
}
.todo-btn{
  font-size: 28px;
  padding: 8px 0 16px 0;
}
}
@media only screen and (min-width: 1366px){
  .todo-btn{
    font-size: 32px;
    padding: 6px 0 14px 0;
  }
  .form-row {
    margin-bottom: 51px;
  }
  .todo {
    width: 595px;
}
}